POSTGRES_CONTAINER_NAME=fast-api-app-postgres
POSTGRES_IMAGE=postgres:16
POSTGRES_DB=fastapi_app
POSTGRES_USER=fastapi
POSTGRES_PASSWORD=fastapi
POSTGRES_PORT=5432
POSTGRES_VOLUME=fast-api-app-postgres-data
DATABASE_URL=postgresql+psycopg://fastapi:fastapi@127.0.0.1:5432/fastapi_app
